nodejs
npm
ripgrep
libssl-dev
zlib1g-dev
libbz2-dev
libreadline-dev
ninja-build
gettext
libtool
libtool-bin
autoconf
automake
cmake
g++
libsqlite3-dev
wget
curl
llvm
libncursesw5-dev
xz-utils
tk-dev
unzip
libxml2-dev
libxmlsec1-dev
libffi-dev
liblzma-dev
zsh
build-essential
pkg-config
doxygen
tree
xsel
python3-urwid
pip
pipenv
python3
python3-pip
python3-venv
gh
